<div class="face-snap-card" *ngIf="insert$ | async as insert">
    <div class="content">
        <a routerLink="/task">Back</a>
        <h2>{{insert.title}}</h2>
        <p> {{insert.description}} </p>
        <h5>Mise en Ligne le {{insert.createdDate | date : 'medium'}} </h5>
        <img [src]="insert.imageUrl" [alt]="insert.title">
        <button (click)="onOpen()"><i class="fa-sharp fa-solid fa-heart" [ngClass]="{ 'like': insert.snaps }"></i></button>
        <span>{{insert.snaps}}</span>
    </div>
</div>
